<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TVSorter2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TVSorter2.Properties.Settings>
            <setting name="OutputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="InputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="RecurseSubDir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileNameFormat" serializeAs="String">
                <value>{SName( )}\Season {SNum(1)}\{SName(.)}.S{SNum(2)}E{ENum(2)}.{EName(.)}{Ext}</value>
            </setting>
            <setting name="DeleteEmpty" serializeAs="String">
                <value>False</value>
            </setting>
        </TVSorter2.Properties.Settings>
    </userSettings>
</configuration>